# Ignore everything
*

# Allow tracked files
!.gitignore
!starship.toml

#Include specific folders
!kitty/
!kitty/**
!fish/
!fish/**
!hypr/
!hypr/**
!others
!others/**

# Ignore specific files
fish/fish_variables
hypr/monitors.conf
hypr/workspaces.conf
